@use 'common';
@import '../../node_modules/tippy.js/dist/tippy.css';
@import '../../node_modules/tippy.js/themes/light.css';

#main {
  display: flex;
  flex-direction: row;
  height:100%;

  #build {
    flex-basis:30%;
    flex-grow: 0;
    flex-shrink: 0;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    background-color:common.$background-color;

    #input {
      display:flex;
      flex-direction:row;
      #open {
        margin:10px 5px;
        width:auto;
        background-color:#edebed;
        &:hover {
          background-color:#ffffff;
        }

      }
    }

    #build-tabs {
      padding:0 5px;
      margin:10px 0 0;
      border-bottom: 1px solid #555;
      li {
        float:left;
        display:block;
        padding:5px 10px;
        cursor:pointer;
        color:#aaaaaa;
        border: 1px solid transparent;
        margin-bottom:-1px;

        &:hover {
          color: #ffffff;
        }

        &.active {
          border: 1px solid #555;
          color:#ffffff;
          border-bottom-color: common.$background-color;
          border-radius: 4px 4px 0 0;
          background-color:#000000;
        }
      }
    }

    .build-panes {
      background-color:#000000;
      color:#ffffff;
      margin:0;
      padding:0;
      flex-grow:1;
      flex-direction:column;
      display:none;
      border-left: 1px solid #555;
      border-right: 1px solid #555;
      justify-content:space-between;


      &.active {
        display:flex;
      }

      #build-resources {
        flex-basis:40%;
        padding:20px;
        margin:0;

        li {
          display:block;
          padding:5px 20px;
          cursor:pointer;

          &.selected {
            background-color:#515151;

            .build-resource-delete {
              float:right;
              cursor:pointer;

              &:hover {
                color:#f93737;
              }
            }
          }
        }
      }

      #build-resource-form {
        display:block;
        flex-basis:60%;
        padding:20px;

        label {
          display:block;
        }

        input, select {
          width:100%;
          margin:0 0 20px;
          padding:5px;
          background-color:#ffffff;
          box-sizing:border-box;
          border:none;
        }

        .build-resource-file {
          background-color:#ffffff;
          padding:5px;
          border:none;
          color:#000000;
          margin-bottom:20px;

          &.pending {
            color: #aaaaaa;
            font-style:italic;
          }

          .build-resource-file-action {
            float:right;
            margin-left:10px;
            cursor:pointer;

            &:hover {
              color:#f93737;
            }

          }

        }
      }

      #build-resources-actions {

        text-align:center;

        flex-basis:60px;
        flex-grow:0;
        flex-shrink:0;

        #build-resource-cancel {
          &:hover {
            background-color:#ffffff;
          }
          background-color:#edebed;
          margin:5px;
        }

        #build-resource-save {
          background-color:#00c444;
          color:#ffffff;
          margin:5px;

          &:hover {
            background-color:#23e165;
          }
        }
        #build-resource-delete {
          margin:5px;
          background-color:#eb2525;
          color:#ffffff;
        }
      }
    }

    .build-select {
      padding:10px 0;
      border: 0;
      font-size:16px;
    }

    #build-example {
      margin-bottom:10px;
      background-color:#ffffff;
      color:#000000;
      flex-grow:1;
    }

    #build-item {
      background-color:#0f0f0f;
      color:#ffffff;
      border:solid 1px #555;
      border-top:transparent;
    }

    &.close {
      flex-basis:0;
      flex-shrink:1;
      min-width:0;
    }

    &.full {
      flex-basis:50%;
    }

    #scorm-actions {
      padding: 20px;
      border-top:solid 1px #555;
      margin-top:0;
      text-align: center;
      #scorm {
        background-color:#edebed;
        &:hover {
          background-color:#ffffff;
        }
      }
    }

    .hidden {
      display:none !important;
    }
  }

  #size {
    flex-basis: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    height:100%;
    background-color:common.$background-color;
    padding-top:5px;
    box-sizing:border-box;

    button.build-sizing {
      width: 30px;
      height: 30px;
      padding: 0;
      text-align: center;
      border: 0;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      background-color:#EDEBED;
      border:solid 1px #000000;
      margin:5px;

      &:hover {
        background-color:#ffffff;
      }

      i {
        font-size: 10px;
        vertical-align:middle;
      }

      &#reduce.close {
        display:none
      }

      &#extend.full {
        display:none
      }

    }

  }

}

.build-menu-items {
  cursor:pointer;
  padding:0;
  margin:0;
  li {
    display:block;
    padding:0.5rem;
  }
  li:hover {
    background:hsl(204, 47%, 98%);
  }
}

