.CodeMirror {
  height: 100%;
  font-size: 16px;
  border: solid 1px transparent;
}
.CodeMirror-dialog {
  background-color: #f66c1e;
}
.CodeMirror-dialog-bottom {
  /*border-top: none;*/
  border:none;
}

.wrapper {
  flex-grow:1;
  position:relative;
  overflow:hidden;
}

.editor {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding: 0;
  box-sizing: border-box;
}
