@use "common";

#exercise {
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  #header {
    flex-basis: 50px;
    line-height: 50px;
    padding: 0 10px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #ffffff;
    background-color: common.$background-color;
    display: flex;
    flex-direction: row;

    #title {
      font-size: 32px;
      flex-grow: 1;
    }

    #credits {
      flex-grow: 0;
      flex-shrink: 0;
      color: #ffffff;
      background-color: transparent;
      text-align: right;
      font-size: 14px;

      a img {
        margin: 5px;
        max-height: 25px;
        vertical-align: middle;
      }
    }
  }

  #instructions {
    overflow-y: auto;
    padding: 10px;
    font-size: 18px;
    background-color: #edebed;
    color: #480a2a;

    h1,
    h2,
    h3,
    p {
      margin-top: 0;
      margin-bottom: 5px;
    }

    h1 {
      font-size: 24px;
    }

    code {
      font-family: monospace;
      font-size: 17px;
      background-color: #ffffff;
      padding: 2px 4px;
      margin: 0;
    }

    pre {
      background-color: #ffffff;
      margin: 10px 0;
      padding: 4px;
    }
  }

  .gutter {
    border-top: solid 1px #8d8d8d;
    background-image: url("../images/horizontal.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: row-resize;
  }

  #exercise-body {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    #input {
      display: flex;
      flex-flow: column;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;

      #actions {
        flex-basis: 80px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    #display {
      flex-grow: 1;
      overflow: hidden;
      display: flex;

      #declick-container {
        flex-grow: 1;
        border-top: solid 1px #8d8d8d;
        border-left: solid 1px #8d8d8d;
        background-color: #ffffff;
        overflow: hidden;
      }
    }
  }

  #success {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    #congratulations {
      font-size: 32px;
      padding: 15px;
      position: absolute;
      top: 25%;
      left: 25%;
      right: 25%;
      height: 250px;
      background-color: #480a2a;
      color: #ffffff;
      text-align: center;

      p {
        margin: 40px;
        text-transform: uppercase;
      }

      #close {
        text-align: right;
        cursor: pointer;
      }
    }
  }
}

.error {
  background-color: #f66c1e;
  color: #f5f5f5;
}

button {
  width: 150px;
  padding: 10px;
  border: 0;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;

  i {
    font-size: 15px;
    vertical-align: top;
  }

  &#go {
    background-color: #00c444;
    color: #ffffff;
    border: solid 1px #00c444;
  }

  &#clear {
    background-color: transparent;
    border: solid 1px #585f75;
    color: #585f75;
  }

  &#ok {
    background-color: #790b45;
    border: solid 1px #790b45;
    color: #ffffff;
  }
}
