@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?irn4ba');
  src:  url('../fonts/icons.eot?irn4ba#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?irn4ba') format('truetype'),
    url('../fonts/icons.woff?irn4ba') format('woff'),
    url('../fonts/icons.svg?irn4ba#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-play:before {
  content: "\f04b";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-image:before {
  content: "\f03e";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-trash:before {
  content: "\f014";
}
.icon-download:before {
  content: "\f019";
}
.icon-upload:before {
  content: "\f093";
}

